<div class="list">
  <header>
    <div class="title">
      <h4>Sneakers</h4>
      <small>25 product found</small>
    </div>
    <div class="filter">
      <img src="../../../assets/price.png" width="20" alt="">
      <img src="../../../assets/filter.png" width="20" alt="">
    </div>
  </header>
  <div class="container">
    <app-card routerLink="view-shoes" (click)="viewShoes()"></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
  </div>
</div>
